
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/*@font-face {
  font-family: "Rubik", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
  font-weight: 700;
  font-style: normal;
}*/
body{
  margin: 0;
}

.Home {
  text-align: center;
}

.HomeDiv {
  background-color: #000DFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.HomeLogo {
  height: 60vmin;
}

.HomeButton {
  color: #FFFFFF;
  background-color: #00E7FF;
  border: none;
  border-radius: 40px;
  width: 60vmin;
  height: 7vmin;
  cursor: pointer;
  box-shadow: 4px 4px 15px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
a{
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}



  