body {
  margin: 0;
  padding: 0;
  background-color: #000DFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow-container {
  max-width: 70%; 
  position: relative;
  margin: auto;
  text-align: center;
}

.mySlides {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 80vh; 
  width: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

@media screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 100%; 
  }
  .mySlides {
    height: 50vh; 
  }
}
